DATABASE_URL=postgresql://neondb_owner:npg_BsmXR6GfO2Qz@ep-mute-sun-a1iys6fo-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
REDIS_URL=rediss://default:AcPAAAIncDJlMDdkZGQzZmJjZDM0NzY5OGU0YmE3MmJkMzZmYzY3YnAyNTAxMTI@clean-toucan-50112.upstash.io:6379
FMP_API_KEY=ra7t4B73HDp6v8v37dUK0qfXjzbVqfzg
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
